<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style3.css">
    <script src ="myproject\static\javascript\index.js" ></script>

    <title>Registration Form </title>

</head>

<body>
    <div class="container">
        <header>Registration</header>

        <form action="registaration_data/">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">

                        <div class="input-fields">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>


                        <div class="input-fields">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" required>
                        </div>

                        <div class="input-fields">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>

                        <div class="input-fields">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter your number" required>
                        </div>

                        <div class="input-fields">
                            <label>Gender</label>
                            <input type="text" placeholder="Enter your gender" required>
                        </div>

                        <div class="input-fields">
                            <label>Occupation</label>
                            <input type="text" placeholder="Enter your Occupation" required>
                        </div>
                    </div>
                </div>



                <div class="details ID">
                    <span class="title">Identify Details</span>

                    <div class="fileds">
                        <div class="input-fields">
                            <label>ID Name</label>
                            <input type="text" placeholder="Enter ID type" required>
                        </div>

                        <div class="input-fields">
                            <label>ID Number</label>
                            <input type="date" placeholder="Enter ID number" required>
                        </div>

                        <div class="input-fields">
                            <label>Issued Date</label>
                            <input type="text" placeholder="Enter issued date" required>
                        </div>
                    </div>

                    <button class="nextBtn">
                        <span class="btnText">NEXT</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>
    
</body>


</html>